@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --black: #272727;
  --grey: #555555;
  --white: #ffffff;
  --primary: #e84393;
  --font-family: "Roboto Slab";
}

select {
  width: 220px;
  background: white;
  border: none;
  border-bottom: 1px solid var(--black);
  margin: 16px 0;
  margin-top: 42px;
  -webkit-appearance: none;
}

input {
  -webkit-appearance: none;
  background-color: white;
  outline: none;
  border-width: 0;
  border-bottom-width: 2px;
  border-bottom-color: var(--black);
  color: var(--black);
  width: 100%;
  padding: 6px 2px;
  font-family: var(--font-family);
}

h1 {
  font-size: 24px;
  font-family: var(--font-family);
  font-weight: bold;
  color: var(--black);
  text-align: left;
  padding-bottom: 8px;
}

h3 {
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--grey);
  text-align: left;
}

p {
  font-size: 14px;
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--grey);
  text-align: left;
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #FFF;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullets {
  left: 12px !important;
  bottom: 0;
  width: fit-content !important;
}

.swiper-pagination-bullet {
  margin: 0 2px !important;
}

.landing {
  height: 200vh;
  width: 100vw;
  background-color: pink;
}

.slide-padding {
  padding: 20px 12px;
}

.slide-text-container {
  padding: 0 28px;
}

.primary-button {
  background-color: var(--primary);
  color: white;
  padding: 18px 12px;
  font-size: 16px;
  font-family: "Roboto";
  border-radius: 12px;
}

.swiper-pagination-bullet-active {
  background-color: var(--primary) !important;
}

.options-fixed-background {
  position: fixed;
}

path { transition: fill .75s ease; }

.slide-text-container-scrollable{
  background: linear-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,1) 40px);
  margin-top: 300px !important;
  padding-top: 80px;
  z-index: 1;
}

.slide-scrollable {
  overflow-y: scroll;
  padding-bottom: 100px;
}

.selectable-modal-background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.next-button {
  position: fixed;
  left: calc(100vw - 75px);
  top: calc(100vh - 75px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chevron-forward{
  fill: var(--white);
  width: 18px;
  height: 18px;
}

.ssn-input {
  margin-top: 24px;
  font-family: 'Roboto';
  text-align: center;
  font-size: 14px;
  width: 280px;
}

.add-input-button {
  margin-top: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-svg{
  fill: var(--white);
  width: 18px;
}

.minus-button{
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
  background-color: var(--primary);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14px;
  margin-left: 14px;
}

.filler{
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
  margin-top: 14px;
  margin-left: 14px;
}

.input-contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.option-3-safe-img-container {
  height: 84px !important;
  margin: 20px 0;
}

.option-3-biconomy-img-container {
  margin: 14px 0;
  height: 70px !important;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 42px;
}

.loader-final {
  width: 90px;
}

.link-copy {
  font-size: 14px;
  font-family: monospace;
  margin-top: 40px;
  text-overflow: ellipsis;
  width: 100%;
  /* display: inline; */
  white-space: nowrap;
  overflow: hidden;
}

.clip {
  fill: var(--primary)
}

.link-copied-alert-enter{
  opacity: 0;
  translate: 0 20px;
}

.link-copied-alert-enter-active{
  opacity: 1 !important;
  translate: 0 0px;
  transition: all 300ms ease-in-out;
}

.link-copied-alert-enter-done{
  opacity: 1 !important;
  translate: 0 0px;
  transition: all 300ms ease-in-out;
}

.hidden-link {
  text-align: center;
  opacity: 0;
  font-family: 'Roboto';
}
