.signup-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.name-signup {
  font-size: 18px;
  margin: 10px 0;
}

.signup-already-have-acc {
  color: var(--black);
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
}

.signin{
  color: var(--primary);
  font-weight: 700;
}
